.primary-btn,
.secondary-btn {
	display: inline-block;
	line-height: 1;
	background-color: #818a91;
	font-size: 15px;
	font-weight: 700;
	padding: 12px 24px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	transition: all .3s;

	&:hover {
		background-color: rgba(59, 101, 188, 0.5);
		color: #fff !important;
	}
}

.primary-btn {
	background-color: $primary-color;
}
